/* Media Query for medium + screens */
@media only screen and (min-width: 60em) {
	.menu-ul {
		display: flex;
	}
	.menu-ul li:first-child {
		display: none;
	}
	.menu-ul li {
		display: block;
		flex: 1 1 100%;
	}
	.menu-ul li a {
		color: yellow;
    }
    footer,
    main {
        width: 80%;
    }
}
