body {
    font-family: 'Crete Round', serif, sans-serif;
}

#div_1 {
    width: 50%;
    margin: 0 auto;
}

#headtitle {
    font-family: 'Patua One', cursive, sans-serif;
    background-color: #f9ff00b8;
    color: #d61717;
    font-size: 1.5em;
    line-height: 1.3em;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
}

h2 {
    font-family: 'Patua One', cursive, sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    color: #ff5a00;
}
a {
    color: #d61717;
}
a:hover {
    color: #ff5a00;
}

#Picture {
    float: right;
    width: 150px;
    height: auto;
    margin-right: 15px;
    top: 15px;
}

footer {
    background-color: #f9ff00b8;
    padding: 1em;
    color: #d61717;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.3em;
}

footer a {
    color: #d61717;
}

#lastUpdated {
    color: #000000;
}
#boolList {
    margin-left: 2.5%;
    margin-right: 2.5%;
}