main div.json div.box {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    margin: 10px;
    border: none;
}

main div.json {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    background-color: $primaryColor;
    border: solid 3px $secondaryColor;
    color: $white;
    border-radius: 6px;
    padding: 2%;
    margin: 10px;
}