nav .menu-ul {
    display: flex;
        
    li:first-child {
        display: none;
    }
    li {
        display: block;
        flex: 1 1 100%;
    }
}

nav {
    border-top: none;
}

div.top-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

header {
    width: 100%;
    img {
        max-height: 80px;
    }
}