body {
    font-family: 'Crete Round', serif, sans-serif;
    color: $black;
}

header {
    section {
        margin: 0 auto;
        padding-bottom: 3px;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 1px;
        color: $white;
    }
    em{
        font-size: 0.7em;
        margin-top: 1px;
        color: $white;
    }
    picture img {
        width: auto;
        height: 100%;
        position: relative;
        margin: 0 auto;
    }
    text-align: center;
    margin: 0 auto;
    background-color: $primaryColor;    
}

nav {
    background-color: $primaryColor;
    margin: 0px;
    border-top: solid $secondaryColor;
    height: 100%;
    
    .menu-ul li:first-child {
    	display: block;
    }
    .menu-ul li {
        display: none;
        margin: auto;
    }
    .menu-ul a {
	    display: block;
	    color: $white;
	    padding: 0.75rem;
	    text-align: center;
	    text-decoration: none;
    }
    .menu-ul a:hover {
	    background-color: $white;
        color: $primaryColor;
        font-weight: 700;
    }
    .active {
        background-color: $white;
    }

    .menu-ul .active a{
        color: $primaryColor;
    }
    .menu-ul {
	list-style: none;
	text-align: center;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    }
    .responsive li {
    display: block;
    color: #000;
}
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
}

div section img {
    width: 100%;
    height: auto;
}

h1,h2,h3 {
    font-family: 'Patua One', cursive, sans-serif;
    text-align: center;
}

h2 {
    color: $secondaryColor;
}

div.box-1 {
    background-color: $primaryColor;
    border: solid 3px $secondaryColor;
    color: $white;
    border-radius: 6px;
    padding: 2%;
    margin: 10px;
    h3 {
        color: $black;
        text-align: center;
    }
}
a {
    color: $black;
}

a:visited{
    color: $secondaryColor;
}

div.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    .map {
        display: none;
    }

    section {
        margin: auto;
    }

    section.reserve {
        border: solid 2px $secondaryColor;
        border-radius: 4px;
        h1 {
            padding: 5px;
        }
    }

    a {
        text-decoration: none;
    }
}

footer {
    text-align: center;
    color: $white;
    background-color: $primaryColor;
    padding: 5px;
    margin-top: 5px;
    
}

/*css for form*/


.form-fieldset {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
    border: 1px solid $primaryColor;
}



.form-label-top {
    display: flex;
    padding-top: 1rem;
    align-items: center;
}
.form-legend {
    color: $secondaryColor;
    font-weight: bold;
}

.form-label-top-input, .form-label-top-select {
    -webkit-appearance: none;
    display: flex;
    border: solid 1px $primaryColor;
    border-radius: 5px;
    padding: .75rem;
    color: rgb(27, 27, 27);
    width: 85%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.096);
    margin: 2%;
}

.form-label-sbs, .form-label-sbs-input {
    display: flex;
    padding: .7rem 0;
}

.submitBtn {
    border: none;
    background-color: $primaryColor;
    color: $white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.form {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.form-label-top-input:invalid {
    border-left: red solid 6px;
}

.form-label-top-input:required:valid{
    border-left: green solid 6px;
}

section label.form-label-top textarea{
    width: 100%;
}


