body {
    font-family: 'Crete Round', serif, sans-serif;
    color: $black;
}

header {
    section {
        margin: 0 auto;
        padding-bottom: 3px;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 1px;
    }
    h2{
        font-size: 0.7em;
        margin-top: 1px;
    }
    picture img {
        width: auto;
        height: 100%;
        position: relative;
        margin: 0 auto;
    }
    text-align: center;
    margin: 0 auto;
    background-color: $primaryColor;    
}

nav {
    background-color: $primaryColor;
    margin: 0px;
    border-top: solid $secondaryColor;
    height: 100%;
    
    .menu-ul li:first-child {
    	display: block;
    }
    .menu-ul li {
        display: none;
        margin: auto;
    }
    .menu-ul a {
	    display: block;
	    color: $white;
	    padding: 0.75rem;
	    text-align: center;
	    text-decoration: none;
    }
    .menu-ul a:hover {
	    background-color: $white;
        color: $primaryColor;
	    font-weight: 700;
    }
    .active {
        background-color: $white;
    }

    .menu-ul .active a{
        color: $primaryColor;
    }
    .menu-ul {
	list-style: none;
	text-align: center;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    }
    .responsive li {
    display: block;
    color: #000;
}
}




